<div class="flex h-screen bg-gray-100">
  <app-sidebar-manager [isCollapsed]="isSidebarCollapsed" [isMobile]="isMobile" (closeSidebar)="closeSidebar()"></app-sidebar-manager>
  <div class="flex-1 flex flex-col overflow-hidden">
    <app-navbar-manager (toggleSidebar)="toggleSidebar()" [isSidebarCollapsed]="isSidebarCollapsed" [isMobile]="isMobile"></app-navbar-manager>
    <main class="flex-1 overflow-x-hidden overflow-y-auto modern-scroll bg-gradient-to-br from-gray-50 via-white to-gray-50 transition-all duration-300 ease-in-out"
          [ngClass]="{'ml-64': !isSidebarCollapsed, 'ml-16': isSidebarCollapsed && !isMobile, 'ml-0': isMobile}">
      <div class="container mx-auto px-6 py-2">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
